* {
  padding: 0;
  margin: 0;
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-font-smoothing: antialiased;
-moz-font-smoothing: antialiased;
-o-font-smoothing: antialiased;
font-smoothing: antialiased;
text-rendering: optimizeLegibility;
}
.navBar {

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white; /*#071E22;*/
  color: black;
}
.BrandName {
  font-size: 35px;
  margin: 0.4rem;

}
.Nav-links ul{
  margin: 0;
  padding: 0;
  display: flex;
}

.Nav-links li{
  list-style: none;
}

.Nav-links li:hover{
  background-color: grey;
}

.Nav-links li a{
  text-decoration: none;
  color: black;
  padding: 1rem;
  display: block;
  font-size: 20px;
}
.ToggleButton {
  position: absolute;
  top: 0.75rem;
  right:1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.ToggleButton .bar {
height: 3px;
width: 100%;
background-color: black;
border-radius: 10px;
}
@media (max-width: 800px) {
.ToggleButton{
  display: flex;
}
.Nav-links{
  display: none;
  width: 100%;
}
.navBar{
  flex-direction: column;
  align-items: flex-start;
}
.Nav-links ul {
  width: 100%;
  flex-direction: column;
}
.Nav-links li {
  text-align: center;
}
.Nav-links.active {
  display: flex;
}
}

.parallax {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 90vh;
}
.mission {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 50vh;
}
.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 10vh;
     background-color: limegreen;
     position: relative;
}
.header2 {
color: white;
  font-family: monospace;
  font-size: 30px;
  padding: 20px;
  margin: 5px;
  border-radius: 100px;
}
h1 {
  color: white;
    font-family: monospace;
    font-size: 70px;
    font-weight: bolder;
    border-radius: 100px;
}
.missionState {
  color: black;
    font-family: monospace;
    font-size: 30px;
margin: 15px;
text-align: center;
}
.contactUU {
  color: black;
    font-family: monospace;
    font-size: 20px;
margin: 15px;
}
.ProductText {
  color: black;
    font-family: monospace;
    font-size: 30px;
margin: 15px;
text-align: center;
}
p {

}
.Product {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 80vh;
    position: relative;
}
.ProductState {
  color: black;
    font-family: monospace;
    font-size: 30px;
    top: 50px;
position: absolute;
}

.ContactState {
  color: black;
    font-family: monospace;
    font-size: 20px;
    margin: 10px;
}

div:nth-child(2) {
 background-image: url(handHoldingCharger.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
div:nth-child(3) {
  background-color: white;
}
div:nth-child(6) {
 background-image: url(computer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.AboutContainer {
   background-image: url(Wcharger.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  position: relative;
}
.emails {
  color: black;
    font-family: monospace;
    font-size: 30px;
text-align: center;
}
.AboutUs{
  position: absolute;
}
#Psection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color:// #89ABE3FF;
  border-radius: 30px;
  height: 400px;
  width: 300px;
  margin: 30px;
  cursor: pointer;
}
.AboutParagraph {
  color: white;
    font-family: monospace;
    font-size: 30px;
margin: 15px;
text-align: center;
}
.ProductParagraph {
  color: #89ABE3FF;
    font-family: monospace;
    font-size: 20px;
text-align: center;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 12px;
  line-height: 30px;
  color: #777;
}

.container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
  background: #F9F9F9;
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #4CAF50;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: #43A047;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}
